---
// import Image from 'astro/components/Image.astro';
import { Image } from 'astro:assets';
import PhotoImage from '../../assets/images/photo.png';
import './Author.css';

export interface Props {
  showTitle: boolean;
}

const { showTitle } = Astro.props;
---

<div class="author">
  <Image
    class="author__image"
    alt="Author image"
    src={PhotoImage}
    width={180}
    height={180}
    blur={5}
  />

  {showTitle && <h1 class="author__site-title"> Gridsome Blog Starter </h1>}

  <p class="author__intro">
    A simple, hackable & minimalistic starter for Gridsome that uses Markdown
    for content.
  </p>

  <p class="author__links">
    <a href="//twitter.com/gridsome">Follow on Twitter</a>
    <a href="//github.com/gridsome/gridsome-starter-blog">GitHub</a>
  </p>
</div>
