---
// import Image from 'astro/components/Image.astro';
import { Image } from 'astro:assets'
import PhotoImage from '../../assets/images/photo.png'
import './Author.css'

export interface Props {
  showTitle: boolean
  classes: string
}

const { showTitle, classes } = Astro.props
---

<div class:list={['author', classes]}>
  <Image
    class="author__image"
    alt="Author image"
    src={PhotoImage}
    width={180}
    height={180}
    blur={5}
  />

  {showTitle && <h1 class="author__site-title"> Gridsome Blog Starter </h1>}

  <p class="author__intro">
    A simple, hackable & minimalistic starter for Gridsome that uses Markdown
    for content.
  </p>

  <p class="author__links">
    <a href="//twitter.com/gridsome">Follow on Twitter</a>
    <a href="//github.com/gridsome/gridsome-starter-blog">GitHub</a>
  </p>
</div>

<style lang="scss">
  .post-title {
    padding: calc(var(--space) / 2) 0 calc(var(--space) / 2);
    text-align: center;
  }
  .post {
    &__header {
      width: calc(100% + var(--space) * 2);
      margin-left: calc(var(--space) * -1);
      margin-top: calc(var(--space) * -1);
      margin-bottom: calc(var(--space) / 2);
      overflow: hidden;
      border-radius: var(--radius) var(--radius) 0 0;
      img {
        width: 100%;
      }
      &:empty {
        display: none;
      }
    }
    &__content {
      h2:first-child {
        margin-top: 0;
      }
      p:first-of-type {
        font-size: 1.2em;
        color: var(--title-color);
      }
      img {
        width: calc(100% + var(--space) * 2);
        margin-left: calc(var(--space) * -1);
        display: block;
        max-width: none;
      }
    }
  }
  .post-comments {
    padding: calc(var(--space) / 2);
    &:empty {
      display: none;
    }
  }
  .post-author {
    margin-top: calc(var(--space) / 2);
  }
</style>
