---
// import Image from 'astro/components/Image.astro';
import { Image } from 'astro:assets'
import PhotoImage from '../../assets/images/photo.png'
import './Author.css'

export interface Props {
  showTitle: boolean
  classes?: string
}

const { showTitle, classes } = Astro.props
---

<div class:list={['author', classes]}>
  <Image
    class="author__image"
    alt="Author image"
    src={PhotoImage}
    width={180}
    height={180}
    blur={5}
  />

  {showTitle && <h1 class="author__site-title"> Astro Blog Starter </h1>}

  <p class="author__intro">
    A simple, hackable & minimalistic starter for Astro that uses Markdown for
    content.
  </p>

  <p class="author__links">
    <a href="//twitter.com/peoray_">Follow on Twitter</a>
    <a href="//github.com/peoray/astro-starter-blog">GitHub</a>
  </p>
</div>
