.post-title {
  padding: calc(var(--space) / 2) 0 calc(var(--space) / 2);
  text-align: center;
}

.post__header {
  width: calc(100% + var(--space) * 2);
  margin-left: calc(var(--space) * -1);
  margin-top: calc(var(--space) * -1);
  margin-bottom: calc(var(--space) / 2);
  overflow: hidden;
  border-radius: var(--radius) var(--radius) 0 0;
}

.post__header img {
  width: 100%;
}

.post__header:empty {
  display: none;
}

.post__content h2:first-child {
  margin-top: 0;
}

.post__content p:first-of-type {
  font-size: 1.2em;
  color: var(--title-color);
}

.post__content img {
  width: calc(100% + var(--space) * 2);
  margin-left: calc(var(--space) * -1);
  display: block;
  max-width: none;
}

.post-comments {
  padding: calc(var(--space) / 2);
}

.post-comments:empty {
  display: none;
}

.post-author {
  margin-top: calc(var(--space) / 2);
}
