.logo {
  text-decoration: none;
  color: var(--body-color) !important;
  font-size: 0.9em;
}

.logo__image {
  vertical-align: middle;
  border-radius: 99px;
  height: 40px;
  width: 40px;
  margin-right: 0.5em;
}
