---
import Layout from '../layouts/Layout.astro';
import Author from '../components/author/Author.astro';
import PostCard from '../components/post-card/PostCard.astro';

const data = {
  title: 'Hello World',
  description: 'fnwefwei',
};
---

<Layout title="Welcome to Astro." showLogo={false}>
  <!-- Author intro -->
  <Author showTitle={true} />

  <!-- List posts -->
  <div class="posts">
    <PostCard post={data} />
  </div>
</Layout>

<style></style>
