---
import Layout from '../layouts/Layout.astro';
import Author from '../components/author/Author.astro';
import Logo from '../components/logo/Logo.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <Author showTitle={true} />
    <Logo />
  </main>
</Layout>

<style></style>
