---
import './PostMeta.css'

const { post } = Astro.props
const { pubDate, classes, minutesRead } = post
---

<div class:list={['post-meta', classes]}>
  Posted
  <time datetime={new Date(pubDate).toISOString()}>
    <time>
      {
        pubDate.toLocaleDateString('en-us', {
          year: 'numeric',
          month: 'short',
          day: 'numeric',
        })
      }.
    </time>

    {minutesRead && <strong>{minutesRead}.</strong>}
  </time>
</div>
