---
import './PostMeta.css'

const { post } = Astro.props
const { date, classes, minutesRead } = post
---

<div class:list={['post-meta', classes]}>
  Posted
  <time datetime={new Date(date).toISOString()}>
    <time>
      {
        date.toLocaleDateString('en-us', {
          year: 'numeric',
          month: 'short',
          day: 'numeric',
        })
      }.
    </time>

    {minutesRead && <strong>{minutesRead}.</strong>}
    <!-- <strong>{minutesRead}.</strong> -->
  </time>
</div>
