---
import './PostMeta.css';

// export interface Props {
//   date: string;
//   timeToRead: string;
//   class: string;
// }

const { post } = Astro.props;
const { date, timeToRead, classes } = post;
---

<div class:list={['post-meta', classes]}>
  Posted {{ date }}.
  {timeToRead && <strong>{{ timeToRead }} min read.</strong>}
</div>
