---
import './PostMeta.css'

// export interface Props {
//   date: string;
//   timeToRead: string;
//   class: string;
// }

const { post } = Astro.props
// const { date, timeToRead, classes } = post;
const { date, classes } = post
console.log(date)
---

<div class:list={['post-meta', classes]}>
  Posted
  <time datetime={date.toISOString()}>
    {
      date.toLocaleDateString('en-us', {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
      })
    }.
  </time>

  <!-- {timeToRead && <strong>{{ timeToRead }} min read.</strong>} -->
</div>
