.post-tags {
  margin: 1em 0 0;
}

.post-tags__link {
  margin-right: 0.7em;
  font-size: 0.8em;
  color: currentColor !important;
  text-decoration: none;
  background-color: var(--bg-color);
  color: currentColor;
  padding: 0.5em;
  border-radius: var(--radius);
}
