---
import './PostTags.css';

const { tag, classes } = Astro.props;
---

<div class:list={['post-tags', classes]}>
  <a class="post-tags__link" href={tag.path}>
    <span>#</span>
    {tag.title}
  </a>
</div>
