.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-height);
  padding: 0 calc(var(--space) / 2);
  top: 0;
  z-index: 10;
}
.header__left,
.header__right {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1300px) {
  .header {
    position: sticky;
    width: 100%;
  }
}
.main {
  margin: 0 auto;
  padding: 1.5vw 15px 0;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--space) / 2);
  text-align: center;
  font-size: 0.8em;
}
.footer > span {
  margin: 0 0.35em;
}
.footer a {
  color: currentColor;
}
